.borboleta {

    position: absolute;
    width: 60px;
    right: 0;
    bottom: 0;
    animation: voar 20s linear infinite;
    z-index: -1;
    filter: brightness(10%);

}

@keyframes voar {

    0% {
        
        transform: translate(0, 0);
    
    }

    20% {

        opacity: 1;

    }

    80% {

        opacity: 1;

    }

    100% {

        transform: translate(-110vw, -100vh);
    }
}